@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-15.5vh);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in-field {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  animation: text-fade-in 0.8s ease-in-out forwards;
}

@keyframes text-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-no-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.01;
  }
}

.fade-out-text {
  animation: text-fade-out 0.4s ease-in-out forwards;
}

.fade-in-text-delayed {
  animation: text-fade-in 0.4s ease-in-out forwards;
}

.fade-no-fade-text {
  animation: text-no-fade 0.4s ease-in-out forwards;
}

@keyframes slide-right-out {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(25%);
  }
}

@keyframes spotlight {
  0% {
    r: 0;
    fill-opacity: 100%;
  }
  to {
    r: 150%;
    fill-opacity: 100%;
  }
}

.circle-expand {
  animation: spotlight 0.9s ease-in-out forwards;
}
